body {
    background-color: black;
    color: rgba(255,255,255,0.8);
}

#landing{
    height: 100vh;
    background-image: url('../img/home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    color: black
}
#mainText{
    margin-top: 30vh;
}
.card .card-image img{
    height: 260px
}
/*footer*/
#landing_footer{
    height: 100vh;
    background-image: url('../img/footer.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    color: white
}
.section a{
    color: white
}